<table *ngIf="employee">
    <thead>
        <tr>
            <th colspan="2">
                Employee Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Code</td>
            <td>{{employee.code}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{employee.Name}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{employee.gender}}</td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>{{employee.annualSalary}}</td>
        </tr>
        <tr>
                <td>DOB</td>
                <td>{{employee.dateOfBirth}}</td>
            </tr>
    </tbody>
</table>
<div *ngIf="!employee">
    {{statusMessage}}
</div>
<div style="margin-top:5px">
    <input type='button' (click)='onBackButtonClick()'value='Back to List'/>
</div>
<div style="margin-top:5px" *ngIf="!subscription.closed">
    <input type='button' (click)='onCancelButtonClick()'value='Cancel Request'/>
</div>